.return-link-categories::after {
    content: "Back";
}

@media(min-width: 500px) {
    .return-link-categories::after {
        content: "Return to categories page";
    }
}

.return-link-category::after {
    content: "Back";
}

@media(min-width: 500px) {
    .return-link-category::after {
        content: "Return to category page";
    }
}